.muraRDB {
	width: 300px;
	padding: 0;
	margin: 1em;
	border: 1px solid #000;
	float: right;
	display: inline;
	background-color: #f5f5f5;
}
.muraRDB h3 {
	color: #fff;
	background-color: #000;
	margin: 0 0 .3em 0;
	padding: .3em;
	font-weight: bold;
	font-size: 1.6em;
	border: 1px solid #000;
}
