.muraRDB {
	width: 300px;
	padding: 0;
	margin: 0 0 1em;
	border: 1px solid #000;
	float: right;
	display: inline-block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#f5f5f5));
	background-image: -webkit-linear-gradient(top, #e4e4e4, #f5f5f5);
	background-image: -moz-linear-gradient(top, #e4e4e4, #f5f5f5);
	background-image: -ms-linear-gradient(top, #e4e4e4, #f5f5f5);
	background-image: -o-linear-gradient(top, #e4e4e4, #f5f5f5);
	background-image: linear-gradient(to bottom, #e4e4e4, #f5f5f5);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: border;
	-webkit-background-clip: border-box;
	background-clip: border-box;
}
.muraRDB-right {}
.muraRDB-left {
	float: left;
	margin: 0 1em 1em 0;
}
.muraRDB-block {
	float: none !important;
	display: block;
	clear: both;
	margin: 1em 0;
}
.muraRDB h3 {
	color: #fff;
	background-color: #000;
	margin: 0 0 .3em 0;
	padding: .3em;
	font-weight: bold;
	font-size: 1.4em;
	border: 1px solid #000;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.muraRDB p {
	margin: 0;
	padding: .5em;
}
.muraRDB ul {
	list-style: none !important;
	margin: 0;
	padding: .4em .5em 0;
}
.muraRDB li {
	margin: 0 0 .4em;
	padding: 0;
}
.muraRDB small {
	white-space: nowrap;
	font-size: 80%;
	line-height: 120%;
}
